<%- include('includes/_header.ejs') %>

<% if(info != '') { %>
    <div class="notification is-info">
        <%= info %>
    </div>
<% } %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<% for (let personaje of personajes) { %>
    <div class="column">
        <div class="card">
            <div class="card-content">
                <p class="title">
                    <a href="/personajed/<%= personaje.id"></a>
                </p>
                <%= personaje.created_at %>
            </div>
        </div>
    </div>
    
<% } %>

<a class="button is-primary" href="/personajes/agregar">agregar personaje</a>

<%- include('includes/_footer.ejs') %>